# Nginx Proxy Manager data (DO NOT COMMIT)
nginx/data/
nginx/letsencrypt/

# Node deps
nodejs/node_modules/

# SQLite DB files (don’t commit)
nodejs/user-data.db
nodejs/database/user-data.db
*.db
*.sqlite
*.sqlite3

# Env/secrets
.env
nodejs/.env
