<header>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/comments">Comments</a></li>

            {{#if isLoggedIn}}
                <!-- When user is logged in -->
                <li><a href="/comment/new">New Comment</a></li>
                <li><span>Signed in as {{username}}</span></li>

                <!-- Logout is a POST form -->
                <form action="/logout" method="POST" style="display:inline">
                <li><button type="submit">Logout</button></li>
                </form>
            {{else}}
                <!-- When no user is logged in -->
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>

